body{
    background-color: rgb(127,255,112,0.5);
    width:100vw;
    height:100vh;
}
h1{
    text-align: center;
}
.kotak1{
width:90%;
height:10%;
background-color: burlywood;
border-radius: 10px;
}
.identitas1{
    text-align: center;
}
.kotak1{
    width:90%;
    height:10%;
    background-color: burlywood;
    border-radius: 10px;
    }
    .identitas1{
        text-align: center;
    }
    .kotak1{
        width:90%;
        height:10%;
        background-color: burlywood;
        border-radius: 10px;
        }
        .identitas1{
            text-align: center;
        }
        
.kotak2{
            width:90%;
            height:10%;
            background-color: burlywood;
            border-radius: 10px;
            }
.identitas2{
                text-align: center;
            }
            .kotak3{
                width:90%;
                height:10%;
                background-color: burlywood;
                border-radius: 10px;
                }
                .identitas3{
                    text-align: center;
                }
                .kotak4{
                    width:90%;
                    height:10%;
                    background-color: burlywood;
                    border-radius: 10px;
                    }
                    .identitas4{
                        text-align: center;
                    }
                    .kotak5{
                        width:90%;
                        height:10%;
                        background-color: burlywood;
                        border-radius: 10px;
                        }
                        .identitas5{
                            text-align: center;
                        }
                        .kotak6{
                            width:90%;
                            height:10%;
                            background-color: burlywood;
                            border-radius: 10px;
                            }
                            .identitas6{
                                text-align: center;
                            }
                            .kotak7{
                                width:90%;
                                height:10%;
                                background-color: burlywood;
                                border-radius: 10px;
                                }
                                .identitas7{
                                    text-align: center;
                                }
                                .kotak8{
                                    width:90%;
                                    height:10%;
                                    background-color: burlywood;
                                    border-radius: 10px;
                                    }
                                    .identitas8{
                                        text-align: center;
                                    }
                                    .kotak9{
                                        width:90%;
                                        height:10%;
                                        background-color: burlywood;
                                        border-radius: 10px;
                                        }
                                        .identitas9{
                                            text-align: center;
                                        }
                                        .kotak10{
                                            width:90%;
                                            height:10%;
                                            background-color: burlywood;
                                            border-radius: 10px;
                                            }
                                            .identitas10{
                                                text-align: center;
                                            }
                                            .kotak10{
                                                width:90%;
                                                height:10%;
                                                background-color: burlywood;
                                                border-radius: 10px;
                                                }
                                                .identitas1{
                                                    text-align: center;
                                                }
                                                .kotak1{
                                                    width:90%;
                                                    height:10%;
                                                    background-color: burlywood;
                                                    border-radius: 10px;
                                                    }
                                                    .identitas1{
                                                        text-align: center;
                                                    }
                                                    img{
                                                   height:110px;
                                                   width:7cqb;
                                                   transform:translate(-250px, -40px);     
                                                    }